<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/hacked.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header>
    <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
    <nav>
      {% for page in site.pages %}
        {% if page.title and page.nav == true %}
          <a href="{{ page.url | relative_url }}">{{ page.title }}</a>
        {% endif %}
      {% endfor %}
    </nav>
  </header>

  <main>
    <h2>{{ page.title }}</h2>
    {{ content | markdownify }}  <!-- This renders Markdown! -->
  </main>
</body>
</html>
